@layer base{
    @font-face{
        font-family: "Inter";
        src: url("./fonts/inter/Inter_18pt-Regular.woff2") format("woff2");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face{
        font-family: "Inter";
        src: url("./fonts/inter/Inter_18pt-Medium.woff2") format("woff2");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face{
        font-family: "Inter";
        src: url("./fonts/inter/Inter_24pt-SemiBold.woff2") format("woff2");
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }

    @font-face{
        font-family: "Inter";
        src: url("./fonts/inter/Inter_24pt-Bold.woff2") format("woff2");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }
}

@import "tailwindcss";

@plugin "flowbite/plugin";

@source "../node_modules/flowbite";

@theme {
    --color-primary: #013220;
    --color-secondary: #708090;
    --color-tertiary: #D4AF37;
    --color-neutral: #F8F9FA;

    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base{
    body{
        @apply font-sans text-primary bg-neutral;
    }   
}